body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100vh;
  width: 100vw;
}

.form {
  display: flex;
  justify-content: flex-start;
  height: 100%;
  width: 80%;
  margin: auto;
}

.element {
  display: block;
  margin: 50px;

}

.error {
  background-color: rgb(233, 140, 140);
  color: rgb(141, 1, 1);
}